.my-background {
    display:block;
    background-color: rgba(10, 10, 10, 0.8);
}

.tag-name-input {
    display: block;
    margin-bottom: 10px;
}

.parent-item {
    display: flex;
    height: 30px;
    font-size: 20px;
}

.parent-item-checkbox {
    margin-right: 5px;
}

.parent-item-label {
    user-select: none;
    max-width: 80%;
    margin-right: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.parent-item-label:hover {
    color: #031456;
    font-weight: bold;
}

.parent-item-label-disabled {
    font-weight: bold;
    text-decoration: line-through;
}

#select-parents-label {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}