.my-background {
    display:block;
    background-color: rgba(10, 10, 10, 0.8);
}

.my-modal-body {
    padding-top: 7px;
}

.all-datetimes-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.datetime-block {
}

.tag-name-input {
    display: block;
    margin-bottom: 10px;
}

.tag-item {
    display: flex;
    height: 30px;
    font-size: 20px;
}

.tag-item-radio {
    margin-right: 5px;
}

.tag-item-label {
    user-select: none;

    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-item-label:hover {
    color: #031456;
    font-weight: bold;
}

.edit-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-delete {
    color: #fff;
    background-color: #e12250;
    border-color: #b0193e;
}

@media (min-width: 576px) {
}

@media (max-width: 575.98px) {
    .all-datetimes-block {
        flex-direction: column;
    }
    
    .datetime-block {
        margin-bottom: 10px;
    }

    .datetime-block:last-child {
        margin-bottom: 0px;
    }
    
    .dash-between-dates {
        display: none;
    }
}