@using Microsoft.AspNetCore.Mvc.Rendering
@using LifeTracker.Services

@inject EntityService EntityService


<div class="modal fade show my-background" aria-modal="true" @onkeydown="@OnKeyDown" autofocus >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Редактировать тэг</h4>
                <button type="button" class="btn btn-primary" @onclick="OnCloseClick">x</button>
            </div>
            <div class="modal-body">
                <input class="tag-name-input" type="text" placeholder="Tag name" @bind="NewTagName"/>
                <label id="select-parents-label">Родители:</label>
                @if (ParentsMSList != null)
                {
                    @foreach (var parentItem in ParentsMSList)
                    {
                        <div class="parent-item">
                            <input class="parent-item-checkbox" id="parent-item-id-@parentItem.Value" type="checkbox" @bind="parentItem.Selected" @onclick="(() => HandleItemClick(parentItem))" disabled="@parentItem.Disabled"/>
                            
                            <label class="parent-item-label @(parentItem.Disabled ? "parent-item-label-disabled" : "")" for="parent-item-id-@parentItem.Value">@parentItem.Text</label>
                            
                            @if (Convert.ToInt32(parentItem.Value) == EditingTagId)
                            {
                                <label class="editing-tag-sign">~~~</label>
                            }
                        </div>
                    }
                }
            </div>
            <div class="modal-footer edit-footer">
                <button type="button" class="btn btn-delete" @onclick="OnDeleteClick">Удалить</button>
                <button type="button" class="btn btn-primary" @onclick="OnConfirmClick">Сохранить</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback OnFinishModalCallback { get; set; }
    
    [Parameter]
    public int EditingTagId { get; set; }

    private MultiSelectList ParentsMSList;
    
    private List<int> DisabledItemIds { get; set; } = new();
    private List<int> SelectedItemIds { get; set; } = new();
    
    private string NewTagName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await EntityService.InitializeAsync();
        var tags = await EntityService.GetTagsAsync();
        var editingTag = tags.First(t => t.Id == EditingTagId);
        
        ParentsMSList = new MultiSelectList(tags, "Id", "Name");
        NewTagName = editingTag.Name;
        
        var allParentsParentAndChildIds = new List<int>();
        
        var directParentIds = editingTag.Parents.Select(p => p.Id).ToList();
        foreach (var pId in directParentIds)
        {
            allParentsParentAndChildIds.AddRange(await EntityService.GetAllParentsAndChildrenIdsAsync(pId));
        }
        
        // Self child also can not be parent
        allParentsParentAndChildIds.AddRange(editingTag.GetAllChildren().Select(c => c.Id));
        
        allParentsParentAndChildIds.RemoveAll(id => id == EditingTagId);
        SelectedItemIds.AddRange(directParentIds);
        DisabledItemIds.AddRange(allParentsParentAndChildIds);
        DisabledItemIds.Add(EditingTagId);

        UpdateParentsMSList();
    }
    
    private void UpdateParentsMSList()
    {
        foreach (var item in ParentsMSList)
        {
            var id = Convert.ToInt32(item.Value);
            if (DisabledItemIds.Contains(id))
            {
                item.Disabled = true;
            }
            else if (SelectedItemIds.Contains(id))
            {
                item.Selected = true;
            }
            else if (id == EditingTagId)
            {
                item.Disabled = true;
            }
            else
            {
                item.Disabled = false;
                item.Selected = false;
            }
        }
    }

    private async Task HandleItemClick(SelectListItem clickedItem)
    {
        var clickedTagId = Convert.ToInt32(clickedItem.Value);
        
        clickedItem.Selected = !clickedItem.Selected;
        var directParentIds = ParentsMSList
            .Where(item => item.Selected)
            .Select(item => Convert.ToInt32(item.Value))
            .ToList();

        var allParentsParentAndChildIds = new List<int>();
        
        foreach (var pId in directParentIds)
        {
            allParentsParentAndChildIds.AddRange(await EntityService.GetAllParentsAndChildrenIdsAsync(pId));
        }
        
        allParentsParentAndChildIds.AddRange(await EntityService.GetAllParentsAndChildrenIdsAsync(EditingTagId));
        allParentsParentAndChildIds.RemoveAll(id => id == clickedTagId);
        allParentsParentAndChildIds.RemoveAll(id => directParentIds.Contains(id));
        
        SelectedItemIds = directParentIds;
        DisabledItemIds = allParentsParentAndChildIds;
        
        UpdateParentsMSList();
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnCloseClick()
    {
        await OnFinishModalCallback.InvokeAsync();
    }
    
    private async Task OnConfirmClick()
    {
        // TODO: validate name
        
        var newDirectParentIds = ParentsMSList
            .Where(item => item.Selected)
            .Select(item => Convert.ToInt32(item.Value))
            .ToList();
        
        await EntityService.EditTagAsync(EditingTagId, NewTagName, newDirectParentIds);

        await OnFinishModalCallback.InvokeAsync();
    }
    
    private async Task OnDeleteClick()
    {
        await EntityService.DeleteTagAsync(EditingTagId);

        await OnFinishModalCallback.InvokeAsync();
    }
    
    private async void OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
        {
            await OnCloseClick();
        }
        else if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await OnConfirmClick();
        }
    }
}