.tags__tag-content {
    margin-bottom: 10px;
    padding-left: 7px;
    height: 70px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.tags__tag-content__directly-active {
    background-color: #94b9f9;
}

.tags__tag-content__dependently-active {
    pointer-events: none;
    background-color: #8f8f8f;
}

.tags__tag-content__dependently-disabled {
    pointer-events: none;
    background-color: #696969;
}

.tags__tag-content:hover {
    background-color: #f0f8ff;
}

.tags__tag-content__title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-today-times {
    display: block;
    user-select: none;
    white-space:nowrap;
}

.tags__tag-content__timer {
    margin-right: 40px;
    font-size: 20px;
}

.tags__tag-content__timer__current {
    display: block;
}

.tags__tag-content__timer__total {
    display: block;
}

.tags__tag-content__dependently-active .tags__tag-content__timer__current, .tags__tag-content__dependently-active .tags__tag-content__timer__total,
.tags__tag-content__directly-active .tags__tag-content__timer__current, .tags__tag-content__directly-active .tags__tag-content__timer__total {
    font-weight: bold;
}

.tags {
    text-align: start;
}