.tag-content {
    margin-bottom: 10px;
    padding: 5px 25px 5px 10px;
    height: auto;
    border: 3px solid black;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tags__tag-content__directly-active {
    background-color: #94b9f9;
}

.tags__tag-content__dependently-active {
    pointer-events: none;
    background-color: #8f8f8f;
}

.tags__tag-content__dependently-disabled {
    pointer-events: none;
    background-color: #696969;
}

.tags__tag-content:hover {
    background-color: #f0f8ff;
}

.tags__tag-content__title {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-today-times {
    font-size: 20px;
    user-select: none;
    white-space: nowrap;
}

.tags__tag-content__timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags__tag-content__timer__current,
.tags__tag-content__timer__total {
    font-size: 20px;
}

.tags__tag-content__dependently-active .tags__tag-content__timer__current, .tags__tag-content__dependently-active .tags__tag-content__timer__total,
.tags__tag-content__directly-active .tags__tag-content__timer__current, .tags__tag-content__directly-active .tags__tag-content__timer__total {
    font-weight: bold;
}


@media (max-width: 767px) {
    .tags__tag-content__title {
        font-size: 18px;
    }
    .tags__tag-content__timer__current,
    .tags__tag-content__timer__total,
    .last-today-times {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .tags__tag-content__title {
        font-size: 16px;
    }
    .tags__tag-content__timer__current,
    .tags__tag-content__timer__total,
    .last-today-times {
        font-size: 16px;
    }
}
